### Research Question: What is the relationship between internet access benefit uptake and SNAP benefit uptake?

#### NOTES

Background from BDT: Lifeline is an older FCC program that helps make communications services more affordable for low-income consumers (source: https://www.fcc.gov/lifeline-consumers). There is a new FCC program called Affordable Connectivity Program (ACP) that helps ensure that households can afford the broadband they need for work, school, healthcare and more that replaced the Emergency Broadband Benefit (EBB) program. (source: https://www.fcc.gov/acp) Given ACP is newer and offers more benefits the priority is to look at ACP benefit enrollment versus SNAP benefit enrollment by geo (i.e. county). This will allow BDT to understand if there are specific regions where ACP enrollment is low relative to SNAP because being enrolled in SNAP is a qualifier for ACP. This comparison will need to use household data for SNAP because ACP is a household benefit.

Locations of Data: ACP data is available at https://www.usac.org/about/affordable-connectivity-program/acp-enrollment-and-claims-tracker/#enrollment-and-claims-by-zipcode-and-county for 2022 (and there is a data dictionary at https://www.usac.org/wp-content/uploads/about/documents/acp/Data-Dictionary.pdf). SNAP data is located at https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap.

Challenge: To understand current gaps it is ideal to look at the most recent data available and the lowest common geo granularity (county). ACP data is available at the county level and has very recent data available for this level- September 2022. SNAP data at the county level has a significant lag- most recent data posted in December 2022 is from January 2022 (about a year old). This presents a gap in this analysis since a household enrolled in SNAP over a year ago may no longer be enrolled in SNAP or may have moved from that county. A comparison is made between the two but it is heavily caveated by the large time difference in the data points which may or may not provide useful directional trends.

Geography: BDT currently operates in these 7 states- Colorado, Maryland, Michigan, New York, North Carolina, Pennsylvania, and South Carolina.

#### Open Questions: 1. Is it beneficial to compare old SNAP data with current ACP data? 2.The SNAP data divides persons and households into Public Assistance Participation and Non Public Assistance Participation. Currently the assumption is to use the combined Public Assistance Participation and Non Public Assistance Participation ("Calc: SNAP Total PA and Non-PA Households") to get the total households using SNAP. Is this valid? 3. There are some counties redacted in ACP data: \**NOT AVAILABLE**. How should this be handled?

#### DATA LOAD

In [1]:
#import libraries
import pandas as pd

In [2]:
#import data
acp=pd.read_excel ('../data-sources/acp/ACP-Households-by-County-January-September-2022.xlsx',dtype={'State FIPS': object}) #acp data
sjan22=pd.read_excel ('../data-sources/snap/Jan-2022.xlsx',skiprows=3, usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #January 2022 snap data
sjul21=pd.read_excel ('../data-sources/snap/Jul-2021.xlsx',skiprows=3, usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #July 2021 snap data
sjul20=pd.read_excel ('../data-sources/snap/Jul-2020.xlsx',skiprows=3, usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #July 2020 snap data
sjan21=pd.read_excel ('../data-sources/snap/Jan-2021.xls',skiprows=3,usecols=('Substate/Region','Calc: SNAP Total PA and Non-PA Households')) #January 2021 snap data

#### ACP DATA EXPLORATION

In [3]:
acp.head()

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
0,2022-01-01,AL,ALABAMA,AUTAUGA COUNTY,01,001,46.0,-1.0,20.0,53.0,118.0,618.0,2.0,440.0,874.0,1934.0
1,2022-01-01,AL,ALABAMA,BALDWIN COUNTY,01,003,-13.0,0.0,78.0,114.0,179.0,521.0,5.0,959.0,1281.0,2766.0
2,2022-01-01,AL,ALABAMA,BARBOUR COUNTY,01,005,41.0,0.0,56.0,25.0,122.0,881.0,1.0,444.0,417.0,1743.0
3,2022-01-01,AL,ALABAMA,BIBB COUNTY,01,007,0.0,0.0,14.0,23.0,37.0,9.0,5.0,182.0,304.0,500.0
4,2022-01-01,AL,ALABAMA,BLOUNT COUNTY,01,009,12.0,-1.0,18.0,46.0,75.0,196.0,11.0,293.0,573.0,1073.0

In [4]:
acp.tail()

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
29432,2022-09-01,PR,PUERTO RICO,**NOT AVAILABLE**,72,**NOT AVAILABLE**,0.0,0.0,55.0,24.0,79.0,0.0,0.0,142.0,115.0,257.0
29433,2022-09-01,VI,VIRGIN ISLANDS,ST. CROIX ISLAND,78,010,0.0,0.0,2.0,305.0,307.0,0.0,1.0,105.0,1596.0,1702.0
29434,2022-09-01,VI,VIRGIN ISLANDS,ST. JOHN ISLAND,78,020,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,22.0,22.0
29435,2022-09-01,VI,VIRGIN ISLANDS,ST. THOMAS ISLAND,78,030,0.0,0.0,-1.0,139.0,138.0,0.0,0.0,81.0,1112.0,1193.0
29436,2022-09-01,VI,VIRGIN ISLANDS,**NOT AVAILABLE**,78,**NOT AVAILABLE**,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,3.0,3.0

In [5]:
acp.dtypes

Data Month                                              datetime64[ns]
State                                                           object
State Name                                                      object
County Name                                                     object
State FIPS                                                      object
County FIPS                                                     object
Net New Enrollments Alternative Verification Process           float64
Net New Enrollments Verified by School                         float64
Net New Enrollments Lifeline                                   float64
Net New Enrollments National Verifier Application              float64
Net New Enrollments total                                      float64
Total Alternative Verification Process                         float64
Total Verified by School                                       float64
Total Lifeline                                                 float64
Total National Verifier Application                            float64
Total Subscribers                                              float64
dtype: object

In [6]:
acp.describe(include='all')

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers
count,29437,29437,29437,29437,29437,29437,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000,29435.000000
unique,9,56,56,1967,56,331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-07-01 00:00:00,TX,TEXAS,**NOT AVAILABLE**,48,**NOT AVAILABLE**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3280,2290,2290,483,2290,483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2022-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,58.882691,-0.027824,16.534058,96.451299,171.840224,893.840156,2.115713,1517.046781,1265.441345,3678.443995
std,NaN,NaN,NaN,NaN,NaN,NaN,361.515105,0.846077,318.228748,421.212930,741.299169,4182.876818,12.370113,5781.753065,5029.129687,13950.190310
min,NaN,NaN,NaN,NaN,NaN,NaN,-1533.000000,-24.000000,-27109.000000,-3366.000000,-7237.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,-4.000000,4.000000,6.000000,1.000000,0.000000,87.500000,85.000000,222.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,2.000000,18.000000,33.000000,25.000000,0.000000,337.000000,289.000000,817.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,0.000000,19.000000,61.000000,121.000000,462.000000,1.000000,1015.000000,858.000000,2555.500000
max,NaN,NaN,NaN,NaN,NaN,NaN,20481.000000,45.000000,7861.000000,20929.000000,42768.000000,214701.000000,352.000000,195775.000000,211815.000000,574801.000000

#### ACP DATA CLEANUP

In [7]:
#concatenate State and Country FIPS
acp['FIPS'] = acp['State FIPS'].astype(str) + acp['County FIPS'].astype(str)

In [8]:
acp.head()

,Data Month,State,State Name,County Name,State FIPS,County FIPS,Net New Enrollments Alternative Verification Process,Net New Enrollments Verified by School,Net New Enrollments Lifeline,Net New Enrollments National Verifier Application,Net New Enrollments total,Total Alternative Verification Process,Total Verified by School,Total Lifeline,Total National Verifier Application,Total Subscribers,FIPS
0,2022-01-01,AL,ALABAMA,AUTAUGA COUNTY,01,001,46.0,-1.0,20.0,53.0,118.0,618.0,2.0,440.0,874.0,1934.0,01001
1,2022-01-01,AL,ALABAMA,BALDWIN COUNTY,01,003,-13.0,0.0,78.0,114.0,179.0,521.0,5.0,959.0,1281.0,2766.0,01003
2,2022-01-01,AL,ALABAMA,BARBOUR COUNTY,01,005,41.0,0.0,56.0,25.0,122.0,881.0,1.0,444.0,417.0,1743.0,01005
3,2022-01-01,AL,ALABAMA,BIBB COUNTY,01,007,0.0,0.0,14.0,23.0,37.0,9.0,5.0,182.0,304.0,500.0,01007
4,2022-01-01,AL,ALABAMA,BLOUNT COUNTY,01,009,12.0,-1.0,18.0,46.0,75.0,196.0,11.0,293.0,573.0,1073.0,01009

In [9]:
#reduce columns
acp = acp[['Data Month', 'State Name','County Name','FIPS','Total Subscribers']].copy()

In [10]:
#check for null
acp.isnull().values.any()

True

In [11]:
#inspect null
acp[acp['Total Subscribers'].isnull()]

,Data Month,State Name,County Name,FIPS,Total Subscribers
23209,2022-08-01,DISTRICT OF COLUMBIA,**NOT AVAILABLE**,11**NOT AVAILABLE**,NaN
26489,2022-09-01,DISTRICT OF COLUMBIA,**NOT AVAILABLE**,11**NOT AVAILABLE**,NaN

In [12]:
#fill NaN
acp['Total Subscribers'] = acp['Total Subscribers'].fillna(0)

In [13]:
#convert subscribers to integer
acp['Total Subscribers'] = acp['Total Subscribers'].astype(int)

In [14]:
acp.dtypes

Data Month           datetime64[ns]
State Name                   object
County Name                  object
FIPS                         object
Total Subscribers             int32
dtype: object

In [15]:
#extract latest acp data (September 2022)
asep22 = acp[acp['Data Month']=='2022-09-01 00:00:00']

In [16]:
#inspect rows with County Name **NOT AVAILABLE** 
asep22[asep22['County Name']=='**NOT AVAILABLE**']

,Data Month,State Name,County Name,FIPS,Total Subscribers
26225,2022-09-01,ALABAMA,**NOT AVAILABLE**,01**NOT AVAILABLE**,32
26258,2022-09-01,ALASKA,**NOT AVAILABLE**,02**NOT AVAILABLE**,2
26274,2022-09-01,ARIZONA,**NOT AVAILABLE**,04**NOT AVAILABLE**,152
26350,2022-09-01,ARKANSAS,**NOT AVAILABLE**,05**NOT AVAILABLE**,25
26409,2022-09-01,CALIFORNIA,**NOT AVAILABLE**,06**NOT AVAILABLE**,21
26474,2022-09-01,COLORADO,**NOT AVAILABLE**,08**NOT AVAILABLE**,25
26483,2022-09-01,CONNECTICUT,**NOT AVAILABLE**,09**NOT AVAILABLE**,6
26487,2022-09-01,DELAWARE,**NOT AVAILABLE**,10**NOT AVAILABLE**,2
26489,2022-09-01,DISTRICT OF COLUMBIA,**NOT AVAILABLE**,11**NOT AVAILABLE**,0
26557,2022-09-01,FLORIDA,**NOT AVAILABLE**,12**NOT AVAILABLE**,24
26717,2022-09-01,GEORGIA,**NOT AVAILABLE**,13**NOT AVAILABLE**,52
26766,2022-09-01,IDAHO,**NOT AVAILABLE**,16**NOT AVAILABLE**,7
26869,2022-09-01,ILLINOIS,**NOT AVAILABLE**,17**NOT AVAILABLE**,54
26962,2022-09-01,INDIANA,**NOT AVAILABLE**,18**NOT AVAILABLE**,28
27062,2022-09-01,IOWA,**NOT AVAILABLE**,19**NOT AVAILABLE**,5
27168,2022-09-01,KANSAS,**NOT AVAILABLE**,20**NOT AVAILABLE**,6
27289,2022-09-01,KENTUCKY,**NOT AVAILABLE**,21**NOT AVAILABLE**,48
27354,2022-09-01,LOUISIANA,**NOT AVAILABLE**,22**NOT AVAILABLE**,38
27371,2022-09-01,MAINE,**NOT AVAILABLE**,23**NOT AVAILABLE**,2
27396,2022-09-01,MARYLAND,**NOT AVAILABLE**,24**NOT AVAILABLE**,10
27411,2022-09-01,MASSACHUSETTS,**NOT AVAILABLE**,25**NOT AVAILABLE**,15
27495,2022-09-01,MICHIGAN,**NOT AVAILABLE**,26**NOT AVAILABLE**,21
27583,2022-09-01,MINNESOTA,**NOT AVAILABLE**,27**NOT AVAILABLE**,20
27666,2022-09-01,MISSISSIPPI,**NOT AVAILABLE**,28**NOT AVAILABLE**,28
27782,2022-09-01,MISSOURI,**NOT AVAILABLE**,29**NOT AVAILABLE**,32
27839,2022-09-01,MONTANA,**NOT AVAILABLE**,30**NOT AVAILABLE**,5
27927,2022-09-01,NEBRASKA,**NOT AVAILABLE**,31**NOT AVAILABLE**,3
27945,2022-09-01,NEVADA,**NOT AVAILABLE**,32**NOT AVAILABLE**,3
27956,2022-09-01,NEW HAMPSHIRE,**NOT AVAILABLE**,33**NOT AVAILABLE**,1
27978,2022-09-01,NEW JERSEY,**NOT AVAILABLE**,34**NOT AVAILABLE**,12
28012,2022-09-01,NEW MEXICO,**NOT AVAILABLE**,35**NOT AVAILABLE**,109
28075,2022-09-01,NEW YORK,**NOT AVAILABLE**,36**NOT AVAILABLE**,34
28176,2022-09-01,NORTH CAROLINA,**NOT AVAILABLE**,37**NOT AVAILABLE**,35
28229,2022-09-01,NORTH DAKOTA,**NOT AVAILABLE**,38**NOT AVAILABLE**,2
28318,2022-09-01,OHIO,**NOT AVAILABLE**,39**NOT AVAILABLE**,40
28396,2022-09-01,OKLAHOMA,**NOT AVAILABLE**,40**NOT AVAILABLE**,44
28433,2022-09-01,OREGON,**NOT AVAILABLE**,41**NOT AVAILABLE**,6
28501,2022-09-01,PENNSYLVANIA,**NOT AVAILABLE**,42**NOT AVAILABLE**,26
28507,2022-09-01,RHODE ISLAND,**NOT AVAILABLE**,44**NOT AVAILABLE**,5
28554,2022-09-01,SOUTH CAROLINA,**NOT AVAILABLE**,45**NOT AVAILABLE**,10
28622,2022-09-01,SOUTH DAKOTA,**NOT AVAILABLE**,46**NOT AVAILABLE**,7
28718,2022-09-01,TENNESSEE,**NOT AVAILABLE**,47**NOT AVAILABLE**,45
28973,2022-09-01,TEXAS,**NOT AVAILABLE**,48**NOT AVAILABLE**,73
29003,2022-09-01,UTAH,**NOT AVAILABLE**,49**NOT AVAILABLE**,10
29151,2022-09-01,VIRGINIA,**NOT AVAILABLE**,51**NOT AVAILABLE**,29
29191,2022-09-01,WASHINGTON,**NOT AVAILABLE**,53**NOT AVAILABLE**,8
29247,2022-09-01,WEST VIRGINIA,**NOT AVAILABLE**,54**NOT AVAILABLE**,17
29320,2022-09-01,WISCONSIN,**NOT AVAILABLE**,55**NOT AVAILABLE**,11
29344,2022-09-01,WYOMING,**NOT AVAILABLE**,56**NOT AVAILABLE**,2
29348,2022-09-01,AMERICAN SAMOA,**NOT AVAILABLE**,60**NOT AVAILABLE**,1
29353,2022-09-01,NORTHERN MARIANA ISLANDS,**NOT AVAILABLE**,69**NOT AVAILABLE**,1
29432,2022-09-01,PUERTO RICO,**NOT AVAILABLE**,72**NOT AVAILABLE**,257
29436,2022-09-01,VIRGIN ISLANDS,**NOT AVAILABLE**,78**NOT AVAILABLE**,3

In [17]:
asep22[asep22['County Name']=='**NOT AVAILABLE**']['State Name'].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA',
       'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA',
       'WISCONSIN', 'WYOMING', 'AMERICAN SAMOA',
       'NORTHERN MARIANA ISLANDS', 'PUERTO RICO', 'VIRGIN ISLANDS'],
      dtype=object)

In [18]:
# remove \*\*NOT AVAILABLE\*\*
asep22['FIPS'] = acp['FIPS'].str.replace('\*\*NOT AVAILABLE\*\*','')

<ipython-input-18-b8b3cac2df00>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asep22['FIPS'] = acp['FIPS'].str.replace('\*\*NOT AVAILABLE\*\*','')

In [19]:
asep22 = asep22.rename(columns={'Total Subscribers': 'Sep22 ACP Total Subscribers'})

In [20]:
#reduce columns
asep22 = asep22[['FIPS', 'State Name','County Name','Sep22 ACP Total Subscribers']].copy()

In [21]:
asep22.head()

        FIPS State Name     County Name  Sep22 ACP Total Subscribers
26158  01001    ALABAMA  AUTAUGA COUNTY                         2944
26159  01003    ALABAMA  BALDWIN COUNTY                         3603
26160  01005    ALABAMA  BARBOUR COUNTY                         2764
26161  01007    ALABAMA     BIBB COUNTY                          697
26162  01009    ALABAMA   BLOUNT COUNTY                         1799

In [22]:
asep22.dtypes

FIPS                           object
State Name                     object
County Name                    object
Sep22 ACP Total Subscribers     int32
dtype: object

In [23]:
asep22.describe(include='all')

         FIPS State Name        County Name  Sep22 ACP Total Subscribers
count    3279       3279               3279                  3279.000000
unique   3279         56               1963                          NaN
top     17087      TEXAS  **NOT AVAILABLE**                          NaN
freq        1        255                 53                          NaN
mean      NaN        NaN                NaN                  4301.413236
std       NaN        NaN                NaN                 16051.487507
min       NaN        NaN                NaN                     0.000000
25%       NaN        NaN                NaN                   260.000000
50%       NaN        NaN                NaN                   979.000000
75%       NaN        NaN                NaN                  3017.000000
max       NaN        NaN                NaN                574801.000000

#### SNAP DATA EXPLORATION

In [26]:
sjan22.head()

                    Substate/Region  Calc: SNAP Total PA and Non-PA Households
0  0100101 AL EBT AUTAUGA CO FS OFF                                     3545.0
1  0100301 AL EBT BALDWIN CO FS OFF                                     9474.0
2  0100501 AL EBT BARBOUR CO FS OFF                                     2848.0
3     0100701 AL EBT BIBB CO FS OFF                                     1706.0
4   0100901 AL EBT BLOUNT CO FS OFF                                     3004.0

In [27]:
sjan22.tail()

,Substate/Region,Calc: SNAP Total PA and Non-PA Households
2641,5600002 WY EBT WYOMING SD PASS,14033.0
2642,U.S. Summary,21658121.0
2643,Data is Subject to Revision. The data reflect...,NaN
2644,NaN,NaN
2645,NaN,NaN

#### SNAP DATA CLEANUP

In [28]:
#remove summary line
sjan22=sjan22[sjan22['Substate/Region'] != 'U.S. Summary']

In [29]:
#remove summary line
sjan22=sjan22[sjan22['Substate/Region'] != 'Data is Subject to Revision.  The data reflected is the latest available data.']

In [31]:
#remove empty rows
sjan22=sjan22.dropna(how='all')

In [32]:
sjan22.tail()

,Substate/Region,Calc: SNAP Total PA and Non-PA Households
2637,5514901 WI EBT BAD RIVER TRIBAL COUNC,165.0
2638,5515101 WI EBT LAC DU FLAMBEAU TRIBAL,535.0
2639,5515301 WI EBT SOKAOGON TRIBAL AGENCY,96.0
2640,5515501 WI EBT POTAWATOMI TRIBE,17.0
2641,5600002 WY EBT WYOMING SD PASS,14033.0

In [33]:
#extract FIPS code
sjan22['FIPS Code']=sjan22['Substate/Region'].str[:5]

In [34]:
sjan22.tail()

,Substate/Region,Calc: SNAP Total PA and Non-PA Households,FIPS Code
2637,5514901 WI EBT BAD RIVER TRIBAL COUNC,165.0,55149
2638,5515101 WI EBT LAC DU FLAMBEAU TRIBAL,535.0,55151
2639,5515301 WI EBT SOKAOGON TRIBAL AGENCY,96.0,55153
2640,5515501 WI EBT POTAWATOMI TRIBE,17.0,55155
2641,5600002 WY EBT WYOMING SD PASS,14033.0,56000

In [35]:
sjan22.dtypes

Substate/Region                               object
Calc: SNAP Total PA and Non-PA Households    float64
FIPS Code                                     object
dtype: object

In [36]:
# find blank values
sjan22[sjan22['Calc: SNAP Total PA and Non-PA Households']=="  "]

C:\Users\Camille\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [Substate/Region, Calc: SNAP Total PA and Non-PA Households, FIPS Code]
Index: []

In [38]:
#fill blank values
sjan22['Calc: SNAP Total PA and Non-PA Households'][sjan22['Calc: SNAP Total PA and Non-PA Households']=="  "]=0

C:\Users\Camille\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
<ipython-input-38-e5b8071eab25>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sjan22['Calc: SNAP Total PA and Non-PA Households'][sjan22['Calc: SNAP Total PA and Non-PA Households']=="  "]=0

In [39]:
sjan22['Calc: SNAP Total PA and Non-PA Households'] = pd.to_numeric(sjan22['Calc: SNAP Total PA and Non-PA Households'])

In [40]:
sjan22.dtypes

Substate/Region                               object
Calc: SNAP Total PA and Non-PA Households    float64
FIPS Code                                     object
dtype: object

In [42]:
sjan22 = sjan22.rename(columns={'Calc: SNAP Total PA and Non-PA Households': 'JAN22 SNAP Households'})

In [43]:
#inspect null
sjan22[sjan22['JAN22 SNAP Households'].isnan()]

AttributeError: 'Series' object has no attribute 'isnan'

In [44]:
sjan22.head()

                    Substate/Region  JAN22 SNAP Households FIPS Code
0  0100101 AL EBT AUTAUGA CO FS OFF                 3545.0     01001
1  0100301 AL EBT BALDWIN CO FS OFF                 9474.0     01003
2  0100501 AL EBT BARBOUR CO FS OFF                 2848.0     01005
3     0100701 AL EBT BIBB CO FS OFF                 1706.0     01007
4   0100901 AL EBT BLOUNT CO FS OFF                 3004.0     01009

In [45]:
sjan22['FIPS Code'] = sjan22['FIPS Code'].astype(str)

In [46]:
sjan22.dtypes

Substate/Region           object
JAN22 SNAP Households    float64
FIPS Code                 object
dtype: object

In [47]:
sjan22.describe(include='all')

                        Substate/Region  JAN22 SNAP Households FIPS Code
count                              2642           2.642000e+03      2642
unique                             2642                    NaN      2549
top     4824901 TX EBT JIM WELLS COUNTY                    NaN     17031
freq                                  1                    NaN        33
mean                                NaN           8.197623e+03       NaN
std                                 NaN           4.388184e+04       NaN
min                                 NaN           0.000000e+00       NaN
25%                                 NaN           6.510000e+02       NaN
50%                                 NaN           1.735500e+03       NaN
75%                                 NaN           4.485750e+03       NaN
max                                 NaN           1.626534e+06       NaN

In [48]:
sjan22[sjan22.duplicated(['FIPS Code'], keep=False)]

,Substate/Region,JAN22 SNAP Households,FIPS Code
4,0100901 AL EBT BLOUNT CO FS OFF,3004.0,01009
5,0100999 AL EBT AESAP - Alabama Dept. of HR,0.0,01009
159,0515992 AR EBT 92-1 Field Operations,0.0,05159
160,0515996 AR EBT 96-1 Field Operations,0.0,05159
531,1703100 IL EBT ILLINOIS,0.0,17031
...,...,...,...
2367,4992509 UT SSI Utah Dept. of Workforce Services,1404.0,49925
2368,5000004 VT EBT VT DPT OF SOC WEL,24638.0,50000
2369,5000004 VT SSI VT DPT OF SOC WEL,15830.0,50000
2375,5101308 VA EBT ARLINGTON CO DPW,4486.0,51013
2376,5101312 VA EBT Alleghany,1017.0,51013

In [49]:
sjan22[sjan22['FIPS Code']=='51013']

                      Substate/Region  JAN22 SNAP Households FIPS Code
2375  5101308 VA EBT ARLINGTON CO DPW                 4486.0     51013
2376         5101312 VA EBT Alleghany                 1017.0     51013

In [50]:
sjan22sum=sjan22.groupby(['FIPS Code'],as_index=False).sum()

In [51]:
sjan22sum[sjan22sum['FIPS Code']=='51013']

     FIPS Code  JAN22 SNAP Households
2283     51013                 5503.0

In [52]:
sjan22sum = sjan22sum.rename(columns={'FIPS Code': 'FIPS'})

In [53]:
sjan22sum.describe(include='all')

         FIPS  JAN22 SNAP Households
count    2549           2.549000e+03
unique   2549                    NaN
top     21063                    NaN
freq        1                    NaN
mean      NaN           8.496713e+03
std       NaN           4.587301e+04
min       NaN           0.000000e+00
25%       NaN           7.230000e+02
50%       NaN           1.785000e+03
75%       NaN           4.532000e+03
max       NaN           1.626534e+06

#### DOWNLOAD TRANSFORMED DATA

In [54]:
sjan22sum.to_csv('../data-sources/snap/sjan22sum.csv') #, index=False)
asep22.to_csv('../data-sources/acp/asep22.csv') #, index=False)

#### JOIN ACP & SNAP DATA

In [56]:
df = pd.merge(sjan22sum.assign(FIPS=sjan22sum.FIPS.astype(str)),
              asep22.assign(FIPS=asep22.FIPS.astype(str)),
              how='outer', on='FIPS')

In [57]:
df.head()

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers
0,01001,3545.0,ALABAMA,AUTAUGA COUNTY,2944.0
1,01003,9474.0,ALABAMA,BALDWIN COUNTY,3603.0
2,01005,2848.0,ALABAMA,BARBOUR COUNTY,2764.0
3,01007,1706.0,ALABAMA,BIBB COUNTY,697.0
4,01009,3004.0,ALABAMA,BLOUNT COUNTY,1799.0

In [63]:
df[df['County Name']=='**NOT AVAILABLE**']

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers
2549,01,NaN,ALABAMA,**NOT AVAILABLE**,32.0
2581,02,NaN,ALASKA,**NOT AVAILABLE**,2.0
2583,04,NaN,ARIZONA,**NOT AVAILABLE**,152.0
2584,05,NaN,ARKANSAS,**NOT AVAILABLE**,25.0
2585,06,NaN,CALIFORNIA,**NOT AVAILABLE**,21.0
2589,08,NaN,COLORADO,**NOT AVAILABLE**,25.0
2598,09,NaN,CONNECTICUT,**NOT AVAILABLE**,6.0
2600,10,NaN,DELAWARE,**NOT AVAILABLE**,2.0
2601,11,NaN,DISTRICT OF COLUMBIA,**NOT AVAILABLE**,0.0
2604,12,NaN,FLORIDA,**NOT AVAILABLE**,24.0
2606,13,NaN,GEORGIA,**NOT AVAILABLE**,52.0
2651,16,NaN,IDAHO,**NOT AVAILABLE**,7.0
2678,17,NaN,ILLINOIS,**NOT AVAILABLE**,54.0
2679,18,NaN,INDIANA,**NOT AVAILABLE**,28.0
2680,19,NaN,IOWA,**NOT AVAILABLE**,5.0
2681,20,NaN,KANSAS,**NOT AVAILABLE**,6.0
2682,21,NaN,KENTUCKY,**NOT AVAILABLE**,48.0
2683,22,NaN,LOUISIANA,**NOT AVAILABLE**,38.0
2700,23,NaN,MAINE,**NOT AVAILABLE**,2.0
2701,24,NaN,MARYLAND,**NOT AVAILABLE**,10.0
2716,25,NaN,MASSACHUSETTS,**NOT AVAILABLE**,15.0
2717,26,NaN,MICHIGAN,**NOT AVAILABLE**,21.0
2720,27,NaN,MINNESOTA,**NOT AVAILABLE**,20.0
2721,28,NaN,MISSISSIPPI,**NOT AVAILABLE**,28.0
2837,29,NaN,MISSOURI,**NOT AVAILABLE**,32.0
2894,30,NaN,MONTANA,**NOT AVAILABLE**,5.0
2982,31,NaN,NEBRASKA,**NOT AVAILABLE**,3.0
2983,32,NaN,NEVADA,**NOT AVAILABLE**,3.0
2994,33,NaN,NEW HAMPSHIRE,**NOT AVAILABLE**,1.0
2995,34,NaN,NEW JERSEY,**NOT AVAILABLE**,12.0
2996,35,NaN,NEW MEXICO,**NOT AVAILABLE**,109.0
3059,36,NaN,NEW YORK,**NOT AVAILABLE**,34.0
3060,37,NaN,NORTH CAROLINA,**NOT AVAILABLE**,35.0
3062,38,NaN,NORTH DAKOTA,**NOT AVAILABLE**,2.0
3063,39,NaN,OHIO,**NOT AVAILABLE**,40.0
3064,40,NaN,OKLAHOMA,**NOT AVAILABLE**,44.0
3101,41,NaN,OREGON,**NOT AVAILABLE**,6.0
3102,42,NaN,PENNSYLVANIA,**NOT AVAILABLE**,26.0
3108,44,NaN,RHODE ISLAND,**NOT AVAILABLE**,5.0
3109,45,NaN,SOUTH CAROLINA,**NOT AVAILABLE**,10.0
3112,46,NaN,SOUTH DAKOTA,**NOT AVAILABLE**,7.0
3113,47,NaN,TENNESSEE,**NOT AVAILABLE**,45.0
3114,48,NaN,TEXAS,**NOT AVAILABLE**,73.0
3144,49,NaN,UTAH,**NOT AVAILABLE**,10.0
3161,51,NaN,VIRGINIA,**NOT AVAILABLE**,29.0
3201,53,NaN,WASHINGTON,**NOT AVAILABLE**,8.0
3202,54,NaN,WEST VIRGINIA,**NOT AVAILABLE**,17.0
3203,55,NaN,WISCONSIN,**NOT AVAILABLE**,11.0
3227,56,NaN,WYOMING,**NOT AVAILABLE**,2.0
3231,60,NaN,AMERICAN SAMOA,**NOT AVAILABLE**,1.0
3236,69,NaN,NORTHERN MARIANA ISLANDS,**NOT AVAILABLE**,1.0
3315,72,NaN,PUERTO RICO,**NOT AVAILABLE**,257.0
3319,78,NaN,VIRGIN ISLANDS,**NOT AVAILABLE**,3.0

In [64]:
df=df[df['County Name']!='**NOT AVAILABLE**']

In [69]:
df.to_csv('../data-sources/acp/acpsnapmerge.csv')

In [72]:
df['Difference']= df['JAN22 SNAP Households']-df['Sep22 ACP Total Subscribers']

#### INSPECT COMBINED DATA

In [65]:
df[df['State Name']=='COLORADO']['JAN22 SNAP Households'].nlargest(n=5)

230    42910.0
235    37703.0
265    20986.0
244    16989.0
276    14107.0
Name: JAN22 SNAP Households, dtype: float64

In [66]:
df[df['State Name']=='MICHIGAN'].sort_values(by=['JAN22 SNAP Households']).tail(5)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers
1140,26081,36062.0,MICHIGAN,KENT COUNTY,22479.0
1124,26049,42225.0,MICHIGAN,GENESEE COUNTY,27963.0
1162,26125,51353.0,MICHIGAN,OAKLAND COUNTY,31265.0
1149,26099,53831.0,MICHIGAN,MACOMB COUNTY,34598.0
1181,26163,214779.0,MICHIGAN,WAYNE COUNTY,147381.0

In [67]:
df[df['State Name']=='MICHIGAN'].sort_values(by=['Sep22 ACP Total Subscribers']).tail(5)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers
1140,26081,36062.0,MICHIGAN,KENT COUNTY,22479.0
1124,26049,42225.0,MICHIGAN,GENESEE COUNTY,27963.0
1162,26125,51353.0,MICHIGAN,OAKLAND COUNTY,31265.0
1149,26099,53831.0,MICHIGAN,MACOMB COUNTY,34598.0
1181,26163,214779.0,MICHIGAN,WAYNE COUNTY,147381.0

In [68]:
#sjul20.head()

In [74]:
#sjan21.head()

In [75]:
df.dtypes

FIPS                            object
JAN22 SNAP Households          float64
State Name                      object
County Name                     object
Sep22 ACP Total Subscribers    float64
Difference                     float64
dtype: object

In [79]:
df[df['State Name']=='MICHIGAN'].sort_values(by=['Difference']).tail(20)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers,Difference
1129,26059,2902.0,MICHIGAN,HILLSDALE COUNTY,1572.0,1330.0
1161,26123,3893.0,MICHIGAN,NEWAYGO COUNTY,2551.0,1342.0
1146,26093,4194.0,MICHIGAN,LIVINGSTON COUNTY,2617.0,1577.0
1175,26151,2736.0,MICHIGAN,SANILAC COUNTY,1131.0,1605.0
1157,26115,7771.0,MICHIGAN,MONROE COUNTY,5849.0,1922.0
1122,26045,5273.0,MICHIGAN,EATON COUNTY,2987.0,2286.0
1145,26091,5260.0,MICHIGAN,LENAWEE COUNTY,2906.0,2354.0
1179,26159,5462.0,MICHIGAN,VAN BUREN COUNTY,3059.0,2403.0
1110,26021,11165.0,MICHIGAN,BERRIEN COUNTY,7361.0,3804.0
1137,26075,10350.0,MICHIGAN,JACKSON COUNTY,6312.0,4038.0
1173,26147,10769.0,MICHIGAN,ST. CLAIR COUNTY,5992.0,4777.0
1112,26025,11957.0,MICHIGAN,CALHOUN COUNTY,6988.0,4969.0
1180,26161,14496.0,MICHIGAN,WASHTENAW COUNTY,8930.0,5566.0
1160,26121,17301.0,MICHIGAN,MUSKEGON COUNTY,10442.0,6859.0
1132,26065,20999.0,MICHIGAN,INGHAM COUNTY,11955.0,9044.0
1140,26081,36062.0,MICHIGAN,KENT COUNTY,22479.0,13583.0
1124,26049,42225.0,MICHIGAN,GENESEE COUNTY,27963.0,14262.0
1149,26099,53831.0,MICHIGAN,MACOMB COUNTY,34598.0,19233.0
1162,26125,51353.0,MICHIGAN,OAKLAND COUNTY,31265.0,20088.0
1181,26163,214779.0,MICHIGAN,WAYNE COUNTY,147381.0,67398.0

In [80]:
#Colorado, Maryland, Michigan, New York, North Carolina, Pennsylvania, and South Carolina.

In [96]:
df[df['State Name']=='COLORADO'].sort_values(by=['JAN22 SNAP Households'],ascending=False)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers,Difference
230,08031,42910.0,COLORADO,DENVER COUNTY,29574.0,13336.0
235,08041,37703.0,COLORADO,EL PASO COUNTY,22261.0,15442.0
265,08101,20986.0,COLORADO,PUEBLO COUNTY,13226.0,7760.0
244,08059,16989.0,COLORADO,JEFFERSON COUNTY,11342.0,5647.0
276,08123,14107.0,COLORADO,WELD COUNTY,7462.0,6645.0
...,...,...,...,...,...,...
270,08111,24.0,COLORADO,SAN JUAN COUNTY,1.0,23.0
241,08053,11.0,COLORADO,HINSDALE COUNTY,2.0,9.0
2586,08001,NaN,COLORADO,ADAMS COUNTY,15053.0,NaN
2587,08005,NaN,COLORADO,ARAPAHOE COUNTY,15641.0,NaN
2588,08014,NaN,COLORADO,BROOMFIELD COUNTY,732.0,NaN

In [100]:
df[df['State Name']=='MARYLAND'].sort_values(by=['JAN22 SNAP Households'],ascending=False)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers,Difference
1098,24510,125590.0,MARYLAND,BALTIMORE CITY,54046.0,71544.0
1090,24033,85463.0,MARYLAND,PRINCE GEORGE'S COUNTY,22471.0,62992.0
1077,24005,71869.0,MARYLAND,BALTIMORE COUNTY,24894.0,46975.0
1089,24031,42150.0,MARYLAND,MONTGOMERY COUNTY,13823.0,28327.0
1076,24003,35629.0,MARYLAND,ANNE ARUNDEL COUNTY,9083.0,26546.0
1095,24043,14835.0,MARYLAND,WASHINGTON COUNTY,5048.0,9787.0
1086,24025,14063.0,MARYLAND,HARFORD COUNTY,5030.0,9033.0
1087,24027,12687.0,MARYLAND,HOWARD COUNTY,3908.0,8779.0
1096,24045,12348.0,MARYLAND,WICOMICO COUNTY,4607.0,7741.0
1082,24017,11744.0,MARYLAND,CHARLES COUNTY,3168.0,8576.0
1084,24021,10895.0,MARYLAND,FREDERICK COUNTY,3735.0,7160.0
1075,24001,9028.0,MARYLAND,ALLEGANY COUNTY,2663.0,6365.0
1081,24015,8459.0,MARYLAND,CECIL COUNTY,3040.0,5419.0
1092,24037,7201.0,MARYLAND,ST. MARY'S COUNTY,2104.0,5097.0
1080,24013,5931.0,MARYLAND,CARROLL COUNTY,2241.0,3690.0
1083,24019,5232.0,MARYLAND,DORCHESTER COUNTY,1535.0,3697.0
1078,24009,4729.0,MARYLAND,CALVERT COUNTY,1381.0,3348.0
1097,24047,4459.0,MARYLAND,WORCESTER COUNTY,1446.0,3013.0
1079,24011,3534.0,MARYLAND,CAROLINE COUNTY,899.0,2635.0
1093,24039,3399.0,MARYLAND,SOMERSET COUNTY,1417.0,1982.0
1094,24041,2870.0,MARYLAND,TALBOT COUNTY,553.0,2317.0
1085,24023,2365.0,MARYLAND,GARRETT COUNTY,775.0,1590.0
1091,24035,2064.0,MARYLAND,QUEEN ANNE'S COUNTY,560.0,1504.0
1088,24029,1965.0,MARYLAND,KENT COUNTY,373.0,1592.0

In [97]:
df[df['State Name']=='MICHIGAN'].sort_values(by=['JAN22 SNAP Households'],ascending=False)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers,Difference
1181,26163,214779.0,MICHIGAN,WAYNE COUNTY,147381.0,67398.0
1149,26099,53831.0,MICHIGAN,MACOMB COUNTY,34598.0,19233.0
1162,26125,51353.0,MICHIGAN,OAKLAND COUNTY,31265.0,20088.0
1124,26049,42225.0,MICHIGAN,GENESEE COUNTY,27963.0,14262.0
1140,26081,36062.0,MICHIGAN,KENT COUNTY,22479.0,13583.0
...,...,...,...,...,...,...
1147,26095,451.0,MICHIGAN,LUCE COUNTY,292.0,159.0
1101,26003,421.0,MICHIGAN,ALGER COUNTY,225.0,196.0
1144,26089,388.0,MICHIGAN,LEELANAU COUNTY,446.0,-58.0
1165,26131,380.0,MICHIGAN,ONTONAGON COUNTY,260.0,120.0
1141,26083,89.0,MICHIGAN,KEWEENAW COUNTY,77.0,12.0

In [101]:
df[df['State Name']=='NEW YORK'].sort_values(by=['Difference'],ascending=False).tail(100)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers,Difference
2997,36001,NaN,NEW YORK,ALBANY COUNTY,19077.0,NaN
2998,36003,NaN,NEW YORK,ALLEGANY COUNTY,2314.0,NaN
2999,36005,NaN,NEW YORK,BRONX COUNTY,129976.0,NaN
3000,36007,NaN,NEW YORK,BROOME COUNTY,14420.0,NaN
3001,36009,NaN,NEW YORK,CATTARAUGUS COUNTY,4437.0,NaN
...,...,...,...,...,...,...
3054,36115,NaN,NEW YORK,WASHINGTON COUNTY,2801.0,NaN
3055,36117,NaN,NEW YORK,WAYNE COUNTY,4633.0,NaN
3056,36119,NaN,NEW YORK,WESTCHESTER COUNTY,20045.0,NaN
3057,36121,NaN,NEW YORK,WYOMING COUNTY,1573.0,NaN
3058,36123,NaN,NEW YORK,YATES COUNTY,932.0,NaN

In [102]:
df[df['State Name']=='NORTH CAROLINA'].sort_values(by=['Difference'],ascending=False).tail(100)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers,Difference
1490,37119,86662.0,NORTH CAROLINA,MECKLENBURG COUNTY,52742.0,33920.0
1471,37081,56353.0,NORTH CAROLINA,GUILFORD COUNTY,37173.0,19180.0
1522,37183,52435.0,NORTH CAROLINA,WAKE COUNTY,34402.0,18033.0
1456,37051,42653.0,NORTH CAROLINA,CUMBERLAND COUNTY,30687.0,11966.0
1504,37147,20963.0,NORTH CAROLINA,PITT COUNTY,9601.0,11362.0
...,...,...,...,...,...,...
1499,37137,1058.0,NORTH CAROLINA,PAMLICO COUNTY,672.0,386.0
1445,37029,495.0,NORTH CAROLINA,CAMDEN COUNTY,119.0,376.0
1519,37177,431.0,NORTH CAROLINA,TYRRELL COUNTY,116.0,315.0
1525,37189,1624.0,NORTH CAROLINA,WATAUGA COUNTY,1572.0,52.0
1479,37097,8140.0,NORTH CAROLINA,IREDELL COUNTY,8130.0,10.0

In [103]:
df[df['State Name']=='PENNSYLVANIA'].sort_values(by=['Difference'],ascending=False).tail(100)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers,Difference
1798,42101,266602.0,PENNSYLVANIA,PHILADELPHIA COUNTY,132316.0,134286.0
1749,42003,91042.0,PENNSYLVANIA,ALLEGHENY COUNTY,45155.0,45887.0
1770,42045,38314.0,PENNSYLVANIA,DELAWARE COUNTY,20160.0,18154.0
1793,42091,30537.0,PENNSYLVANIA,MONTGOMERY COUNTY,13161.0,17376.0
1787,42079,32482.0,PENNSYLVANIA,LUZERNE COUNTY,15818.0,16664.0
...,...,...,...,...,...,...
1794,42093,909.0,PENNSYLVANIA,MONTOUR COUNTY,290.0,619.0
1776,42057,963.0,PENNSYLVANIA,FULTON COUNTY,376.0,587.0
1774,42053,407.0,PENNSYLVANIA,FOREST COUNTY,95.0,312.0
1759,42023,512.0,PENNSYLVANIA,CAMERON COUNTY,206.0,306.0
1804,42113,320.0,PENNSYLVANIA,SULLIVAN COUNTY,87.0,233.0

In [104]:
df[df['State Name']=='SOUTH CAROLINA'].sort_values(by=['Difference'],ascending=False).tail(100)

,FIPS,JAN22 SNAP Households,State Name,County Name,Sep22 ACP Total Subscribers,Difference
1825,45019,16930.0,SOUTH CAROLINA,CHARLESTON COUNTY,10391.0,6539.0
1861,45091,10422.0,SOUTH CAROLINA,YORK COUNTY,5635.0,4787.0
1817,45003,10510.0,SOUTH CAROLINA,AIKEN COUNTY,6560.0,3950.0
1823,45015,9454.0,SOUTH CAROLINA,BERKELEY COUNTY,5603.0,3851.0
1822,45013,5257.0,SOUTH CAROLINA,BEAUFORT COUNTY,2764.0,2493.0
1844,45057,5098.0,SOUTH CAROLINA,LANCASTER COUNTY,2917.0,2181.0
1830,45029,3960.0,SOUTH CAROLINA,COLLETON COUNTY,1808.0,2152.0
1843,45055,4386.0,SOUTH CAROLINA,KERSHAW COUNTY,2530.0,1856.0
1839,45047,5184.0,SOUTH CAROLINA,GREENWOOD COUNTY,3351.0,1833.0
1827,45023,3177.0,SOUTH CAROLINA,CHESTER COUNTY,1420.0,1757.0
1841,45051,18029.0,SOUTH CAROLINA,HORRY COUNTY,16557.0,1472.0
1829,45027,3576.0,SOUTH CAROLINA,CLARENDON COUNTY,2320.0,1256.0
1842,45053,2170.0,SOUTH CAROLINA,JASPER COUNTY,962.0,1208.0
1852,45073,3895.0,SOUTH CAROLINA,OCONEE COUNTY,2690.0,1205.0
1840,45049,2051.0,SOUTH CAROLINA,HAMPTON COUNTY,942.0,1109.0
1828,45025,4067.0,SOUTH CAROLINA,CHESTERFIELD COUNTY,2979.0,1088.0
1860,45089,4291.0,SOUTH CAROLINA,WILLIAMSBURG COUNTY,3222.0,1069.0
1821,45011,2523.0,SOUTH CAROLINA,BARNWELL COUNTY,1489.0,1034.0
1835,45039,2342.0,SOUTH CAROLINA,FAIRFIELD COUNTY,1381.0,961.0
1853,45075,9360.0,SOUTH CAROLINA,ORANGEBURG COUNTY,8418.0,942.0
1850,45069,3111.0,SOUTH CAROLINA,MARLBORO COUNTY,2195.0,916.0
1834,45037,1824.0,SOUTH CAROLINA,EDGEFIELD COUNTY,1012.0,812.0
1851,45071,2658.0,SOUTH CAROLINA,NEWBERRY COUNTY,1873.0,785.0
1820,45009,1753.0,SOUTH CAROLINA,BAMBERG COUNTY,975.0,778.0
1846,45061,2186.0,SOUTH CAROLINA,LEE COUNTY,1449.0,737.0
1856,45081,1334.0,SOUTH CAROLINA,SALUDA COUNTY,881.0,453.0
1833,45035,6872.0,SOUTH CAROLINA,DORCHESTER COUNTY,6435.0,437.0
1818,45005,1222.0,SOUTH CAROLINA,ALLENDALE COUNTY,811.0,411.0
1824,45017,1208.0,SOUTH CAROLINA,CALHOUN COUNTY,844.0,364.0
1848,45065,724.0,SOUTH CAROLINA,MCCORMICK COUNTY,396.0,328.0
1816,45001,1780.0,SOUTH CAROLINA,ABBEVILLE COUNTY,1520.0,260.0
1849,45067,4055.0,SOUTH CAROLINA,MARION COUNTY,3882.0,173.0
1837,45043,4277.0,SOUTH CAROLINA,GEORGETOWN COUNTY,4202.0,75.0
1832,45033,3821.0,SOUTH CAROLINA,DILLON COUNTY,3777.0,44.0
1859,45087,2660.0,SOUTH CAROLINA,UNION COUNTY,2714.0,-54.0
1858,45085,9456.0,SOUTH CAROLINA,SUMTER COUNTY,9517.0,-61.0
1847,45063,13764.0,SOUTH CAROLINA,LEXINGTON COUNTY,13842.0,-78.0
1836,45041,11872.0,SOUTH CAROLINA,FLORENCE COUNTY,11965.0,-93.0
1845,45059,4886.0,SOUTH CAROLINA,LAURENS COUNTY,5281.0,-395.0
1831,45031,6549.0,SOUTH CAROLINA,DARLINGTON COUNTY,6997.0,-448.0
1854,45077,5095.0,SOUTH CAROLINA,PICKENS COUNTY,5641.0,-546.0
1826,45021,4326.0,SOUTH CAROLINA,CHEROKEE COUNTY,5156.0,-830.0
1819,45007,11940.0,SOUTH CAROLINA,ANDERSON COUNTY,14005.0,-2065.0
1855,45079,24656.0,SOUTH CAROLINA,RICHLAND COUNTY,27207.0,-2551.0
1857,45083,17515.0,SOUTH CAROLINA,SPARTANBURG COUNTY,20312.0,-2797.0
1838,45045,21665.0,SOUTH CAROLINA,GREENVILLE COUNTY,25779.0,-4114.0